/* Горизонтальный блок */
.row {
    background-color: #ffffff;
    border: calc(1px + (5 - 1) * ((100vw - 320px) / (1920 - 320))) solid #a8a9ac;
    border-radius: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
    margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
    margin-left: calc(5px + (288 - 5) * ((100vw - 320px) / (1920 - 320)));
    width: calc(300px + (1304 - 300) * ((100vw - 320px) / (1920 - 320)));
    padding: calc(5px + (15 - 5) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 20px;
}

/* Списки */
.row ul {
    padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: calc(15px + (24 - 15) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(18pt * 1.5);
    font-weight: bold;
}

/* Абзацы */
p {
    text-indent: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-size: calc(15px + (22 - 15) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.5;
    margin-bottom: calc(5px + (20 - 5) * ((100vw - 320px) / (1920 - 320)));;
    text-align: justify;
}

/* Выделенный в заметку текст */
blockquote {
    background-color: #ffff99;
    border-radius: 0 calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320))) 0 calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
    border: 5px black dotted;
    padding-left: calc(15px + (50 - 15) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: 20px;
    padding-top: 0;
    margin: 20px;
}