* {
    margin: 0;
    padding: 0;
}

.row {
    background-color: #ffffff;
    border: 3px solid #e7e8ec;
    border-radius: 4px;
    margin: 2.5vw 10vw 0 10vw;
    --mw: 80vw;
    width: var(-mv);
    padding: 20px 50px;

}

.row ul {
    padding: 20px;
    margin-left: var(--indent);
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18pt;
    line-height: calc(18pt * 1.5);
}

p {
    text-indent: 40px;
    width: 80vw - 10px;
    font-size: 16pt;
    line-height: calc(16pt * 1.5);
    margin-bottom: 20px;
    text-align: justify;
}

blockquote {
    background-color: #ffff99;
    border-radius: 100px 0 100px 0;
    border: 5px black dotted;
    padding: 30px;
    font-size: 20pt;
    font-family: Vk-Bold;
    font-weight: bold;
    margin: 30px 20px;
}

footer {
    margin: 20px;
    text-align: center;
}

p a {
    position: relative;
    text-decoration: none;
    transition: 5s linear;
}

p a:visited {
    color: #b100b1;
}

p a::before {
    content: '';
    position: absolute;
    top: 16pt;
    height: 0;
    left: 0;
    right: 0;
    border: none;
    transition: 0.5s linear;
    opacity: 0;
    box-shadow: 0 0 3px 1px black;
}

p a:hover::before {
    opacity: 1;
}